venv/
myvenv/
.env
__pycache__/
*.pyc
shopnow.db
*.db
models/
rag_store/index/
temp_audio/
.DS_Store
data/.DS_Store
Thumbs.db
.vscode/
.idea/
data/audio.mp3
frontend/__pycache__/
frontend/pages/__pycache__/
